@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.sidebar-icon {
  @apply text-xl;
}

.sidebar-num {
  @apply bg-neutral text-neutral-content text-xs rounded-full w-6 h-6 flex justify-center items-center;
}

.set-center {
  @apply flex justify-center items-center;
}

.table-title {
  @apply text-3xl font-bold;
}

.table-subtitle {
  @apply text-sm text-gray-500;
}

.social-icon {
  @apply bg-gray-300 w-10 h-10 set-center rounded-full hover:bg-slate-700;
}

.menu > li > a {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.menu > li > a > div {
  display: flex;
  gap: 12px;
}

.imgStyle {
  @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md;
  position: relative;
  overflow: hidden;
}

.cartoonImg {
  background: url("/src/assets/img2.png") no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 65% 100px;
  z-index: 1;
}

.cloud_one {
  background: url("/src/assets/cloud_1.png") no-repeat;
  position: absolute;
  top: 65%;
  left: 20%;
  width: 180px;
  height: 100px;
  background-size: contain;
  z-index: 2;
  transform: translateX(290%);
  animation: cloud_one 25.5s ease-in 2s infinite;
}

.cloud_two {
  background: url("/src/assets/cloud_2.png") no-repeat;
  position: absolute;
  top: 49%;
  left: 35%;
  width: 200px;
  height: 100px;
  background-size: contain;
  z-index: 0;
  transform: translateX(290%);
  animation: cloud_two 18.5s ease-in 0.4s infinite;
}

/* css keyframes */
@keyframes cloud_one {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@keyframes cloud_two {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-250%);
  }
}

/* Gallery */
.gallery {
  @apply flex flex-wrap gap-5 justify-center px-5;
}
.photo {
  height: 280px;
  width: 350px;
  position: relative;
  transition: 0.4s linear;
  overflow: hidden;
}
.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ------------- Border Animation ------------- */
.border_ {
  background-color: #fff;
  position: absolute;
  transition: 0.4s linear;
}
.border_.top,
.border_.bottom {
  height: 2px;
  width: 340px;
}
.border_.left,
.border_.right {
  width: 2px;
  height: 270px;
}
.border_.top {
  top: 5px;
  right: 100%;
}
.border_.bottom {
  bottom: 5px;
  left: 100%;
}
.border_.left {
  left: 5px;
  top: 100%;
}
.border_.right {
  right: 5px;
  bottom: 100%;
}
.photo:hover .border_.top {
  right: 5px;
}
.photo:hover .border_.bottom {
  left: 5px;
}
.photo:hover .border_.left {
  top: 5px;
}
.photo:hover .border_.right {
  bottom: 5px;
}
.photo_content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 6%;
  padding-top: 100px;
  top: 0;
  left: 0;
  transform: translateY(400px);
  opacity: 0;
  transition: 0.4s linear;
  /* z-index: 2; */
}
.photo::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(5, 5, 5, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s linear;
}
.photo:hover .photo_content {
  opacity: 1;
  transform: translateY(0);
}
.photo:hover::before {
  opacity: 1;
}
